.text-dark {
  --vz-text-opacity: 1;
  color: #262626;
}
.bg-info{
  --vz-bg-opacity: 1;
  background-color: #ffc402 !important;

}
.active>.page-link, .page-link.active {
  z-index: 3;
  color: #262626;
  background-color: #ffc402;
  border-color: #ffc402;
}
.logo-sm svg {
  width: 200px;
  height: auto;
}
.logo-lg svg{
  width: 200px;
  height: auto;
}
.dropzone {
  border: 2px dashed #cccccc;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.dropzone .dropzone-inner {
  margin-bottom: 10px;
}

.dropzone p {
  font-size: 1.3rem;
  text-align: center;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  margin-bottom: 10px;
  display: flex;
  padding: 1rem;
}

.image-item img {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
  margin-right: 1rem !important;
}

.image-item button {
  cursor: pointer;
}
.dropzone button{
  background: var(--primary-text-color-yellow);
    border: 0px;
    padding: 8px 10px;
    border-radius: 3px;
    height: fit-content;
}